# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
*.tsbuildinfo
.turbo/

# expo
.expo/
apps/mobile/ios/
apps/mobile/android/
*.orig.*

# env
.env
.env.local
.env.*.local

# object storage / local data
.minio-data/
.pgdata/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# test
coverage/
.vercel
